<template id="event-teaser" class="eventlist">
    <li>
        <article class="event">
            <h3 class="event-title"></h3>
            <a class="event-permalink" href="">Details</a>
            <p class="event-dates">
                <time class="event-start" datetime="">
                    <span class="event-date"></span>
                    <span class="event-time"></span>
                </time>
                <span class="event-date-sep"></span>
                <time class="event-end" datetime="">
                    <span class="event-date"></span>
                    <span class="event-time"></span>
                </time>
            </p>
            <div class="event-main"> 
              <p class="event-location"></p>
              <details class="event-more">
                  <summary>Read more</summary>
                  <p class="event-address"></p>
                  <p class="event-url"></p>
                  <p class="event-description"></p>
                  <p class="event-image"></p>
              </details>
            </div>
        </article>
    </li>
</template>
