<template id="event-full" class="eventlist">
    <li>
        <article class="event">
            <h3 class="event-title"></h3>
            <ul class="event-categories"></ul>
            <p class="event-dates">
                <time class="event-start" datetime="">
                    <span class="event-weekday"></span>
                    <span class="event-day"></span>
                    <span class="event-month"></span>
                    <span class="event-year"></span>
                    <span class="event-time"></span>
                </time>
                <span class="event-date-sep"></span>
                <time class="event-end" datetime="">
                    <span class="event-weekday"></span>
                    <span class="event-day"></span>
                    <span class="event-month"></span>
                    <span class="event-year"></span>
                    <span class="event-time"></span>
                </time>
            </p>
            <p class="event-location"></p>
            <p class="event-address"></p>
            <p class="event-url"></p>
            <p class="event-description"></p>
            <p class="event-image"></p>
        </article>
    </li>
</template>
