<template id="event-teaser" class="eventlist">
    <li>
        <article class="event">
            <h3 class="event-title"></h3>
            <p class="event-dates">
                <!--
                  Optional date parts (same dateLocale/dateDisplay as .event-date):
                  <time class="event-start" datetime="">
                    <span class="event-daymonth">
                      <span class="event-day"></span>
                      <span class="event-month"></span>
                    </span>
                    <span class="event-year"></span>
                    <span class="event-time"></span>
                  </time>
                -->
                <time class="event-start" datetime="">
                    <span class="event-date"></span>
                    <span class="event-time"></span>
                </time>
                <span class="event-date-sep"></span>
                <time class="event-end" datetime="">
                    <span class="event-date"></span>
                    <span class="event-time"></span>
                </time>
            </p>
            <p class="event-location"></p>
        </article>
    </li>
</template>
